@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --footer-bg-color: rgba(47, 48, 58, 1);
    --hero-bg-color: #c4c4c4;
    --button-color: #212121;
    --title-color: #212121;
    --button-bg-color: #F5F4FA;
    --button-active-color: #F5F4FA;
    --button-active-bg-color: #2196F3;
    --active-color: #2196f3;
    --contact-text-color: #757575;
    --team-bg-color: #F5F4FA;
    --team-item-bg-color: white;
    --hero-title-color: white;
    --address-color: white;
    --header-bg-color: white;
    --header-border: #ECECEC;
    --text-color: #757575;
    --link-active-color: #2196F3;
    --main-font: "Roboto", serif;
    --logo-font: "Raleway", serif;
}
body {
    margin: 0 auto;
    padding: 0;
    display: block;
}
.active-website {
    color: var(--active-color);
}
.active-button {
    color: var(--button-active-color);
    background-color: var(--button-active-bg-color);
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header*/
header {
    border: 1px var(--header-border) solid;
    padding: 24px 0 25px;
}
.header-logo {
    color: var(--active-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
}
.header-logo-span {
    color: var(--title-color);
}
.header-nav-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.header-link {
    color: var(--button-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
}
.header-link:active {
    color: var(--link-active-color);
}
.header-address {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.header-contact {
    color: var(--contact-text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
}
.header-contact:active {
    color: var(--link-active-color);
}

/*hero*/
.hero {
    background-color: var(--hero-bg-color);
    background-image: url(../images/index/hero/teamwork.jpg);
    background-image: linear-gradient(top to bottom, #2F303A66);
    background-position: contain;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.hero-title {
    width: 696px;
    margin: 200px 0 30px;
    font-weight: 900;
    margin-top: 200px;
    margin-bottom: 30px;
    color: var(--hero-title-color);
    font-family: var(--main-font);
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--button-active-bg-color);
    color: var(--hero-title-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    margin: 30px auto 200px;
    padding: 10px 32px;
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/*special*/
.special {
    padding: 0;
}
.special-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.special-item::before {
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--team-bg-color);
}
.special-headline {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    color: var(--title-color);
}
.special-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: var(--text-color); 
}

/*tasks*/
.tasks {
    display: block;
    margin-top: 94px;
    margin-bottom: 94px;
    padding: 0;
}
.tasks-headline {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: var(--title-color);
}
.tasks-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

/*team*/
.team {
    background-color: var(--team-bg-color);
    padding: 94px 0 94px;
}
.team-headline {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: var(--title-color);
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.team-item {
    width: 270px;
    height: 368px;
    background-color: var(--team-item-bg-color);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.team-img {
    max-width: 270px;
    max-height: 260px;
}
.team-subtitle {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: var(--title-color);
}
.team-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: var(--text-color);  
}
/*projekts*/
.projekts-filters-list {
    display: flex;
    gap: 8px;
    flex-direction: row;
    padding: 0;
}
.projekts-active-button{
    background-color: var(--button-active-bg-color);
    color: var(--button-active-color);
}
.projekts-button:active {
    background-color: var(--button-active-bg-color);
    color: var(--button-active-color);
}
.projekts-button:hover {
    cursor: pointer;
}
.projekts-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.projekts-item {
    box-sizing: border-box;
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
}
.projekts-item:hover {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}
.projekts-link {
    cursor: default;
}
.projekts-img {
    max-width: 100%;
    height: auto;
    display: block;
}
.projekts-subtitle {
    text-align: left;
    color: var(--title-color);
}
.projekts-filter {
    color: var(--contact-text-color);
}
/*footer*/
footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}
.footer-logo {
    color: var(--link-active-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
}
.footer-logo-span {
    color: var(--hero-title-color);
}
.footer-item {
    color: var(--hero-title-color);
}
.footer-street {
    color: var(--address-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}
.footer-contact {
    color: var(--contact-text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    
}
.footer-contact:active{
    color: var(--link-active-color);
}