@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --footer-bg-color: rgba(47, 48, 58, 1);
    --hero-bg-color: #c4c4c4;
    --button-color: #212121;
    --title-color: #212121;
    --button-bg-color: #F5F4FA;
    --button-active-color: #F5F4FA;
    --button-active-bg-color: #2196F3;
    --active-color: #2196f3;
    --contact-text-color: #757575;
    --team-bg-color: #F5F4FA;
    --team-item-bg-color: white;
    --hero-title-color: white;
    --address-color: white;
    --header-bg-color: white;
    --header-border: #ECECEC;
    --text-color: #757575;
    --link-active-color: #2196F3;
    --media-color: #AFB1B8;
    --clients-color: #AFB1B8;
    --media-second-color: #fff;
    --media-bg-color: #FFFFFF1A;
    --modal-close-color: #000;
    --main-font: "Roboto", serif;
    --logo-font: "Raleway", serif;
}

.active-button {
    color: var(--button-active-color);
    background-color: var(--button-active-bg-color);
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header*/
header {
    border: 1px var(--header-border) solid;
    padding: 24px 0 25px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.header-wrap {
    gap: 93px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo {
    color: var(--active-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}
.header-logo-span {
    color: var(--title-color);
}
.header-nav-list {
    gap: 50px;
    display: flex;
}
.header-link {
    color: var(--button-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.28px;
}
.active-site {
    color: var(--active-color);
    position: relative;
}
.active-site::after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-color);
}
.header-link:hover {
    color: var(--link-active-color);
}
.header-address {
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.header-contact {
    color: var(--contact-text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
}
.header-contact:hover {
    color: var(--link-active-color);
    fill: var(--link-active-color);
}
.header-vector {
    fill: var(--contact-text-color);
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.phone {
    width: 10px;
    height: 16px;
}

/*hero*/
.hero {
    background-image: linear-gradient(top to bottom, #2F303A66, #2F303A66);
    background-image: url(../images/index/hero/teamwork.jpg);
    background-color: var(--hero-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}
.hero-container {
    display: block;
    text-align: center;
    flex-direction: column;
}
.hero-title {
    color: var(--hero-title-color);
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-button {
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: var(--button-active-bg-color);
    color: var(--hero-title-color);
    font-family: var(--main-font);
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-top: 30px;
    cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
/*modal*/
.modal {
  background-color: var(--header-bg-color);
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 
  0px 2px 1px 0px #00000033,
  0px 1px 1px 0px #00000024,
  0px 1px 3px 0px #0000001F;

}
.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}
.modal-vector {
    fill: var(--modal-close-color);
    outline: 1px solid var(--clients-color);
    padding: 9px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
}
.modal-close-button:hover .modal-vector {
    fill: var(--active-color);
}
.modal-headline {
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.60px;
    text-align: center;
}
.modal-form {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}
.modal-label {
    margin-bottom: 10px;
}
.modal-subject {
    font-family: var(--main-font);
    color: var(--contact-text-color);
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
}
.modal-input {
    border: 1px solid #21212133;
    font-family: var(--main-font);
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.12px;
    padding: 11px 0 11px 42px;
    box-sizing: border-box;
}
.modal-input:focus {
    border-color: var(--active-color);
}
.modal-comment {
    font-family: var(--main-font);
    border: 1px solid #21212133;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.12px;
    padding: 12px 16px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}
.modal-comment:focus {
    border-color: var(--active-color);
}
.modal-checkbox {
    accent-color: var(--active-color);
    border: 3px solid var(--title-color);
    border-radius: 2px;
    background-color: var(--title-color);
    margin-top: 10px;
}
.modal-contract {
    font-family: var(--main-font);
    color: var(--contact-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42;
    display: contents;
}
.modal-link {
    text-decoration: underline;
    color: var(--link-active-color);
}
.modal-submit-button {
    background-color: var(--active-color);
    font-family: var(--main-font);
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px 0px #00000026;
    margin: 20px auto auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/*special*/
.special {
    padding: 94px 0;
}
.special-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.special-vector {
    background-color: var(--team-bg-color);
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.special-headline {
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}
.special-desc {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/*tasks*/
.tasks {
    display: block;
    padding-bottom: 94px;
}
.tasks-title {
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
}
.tasks-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.tasks-item  {
    position: relative;
}
.tasks-desc {
    font-family: var(--main-font);
    color: var(--hero-title-color);
    background-color: #2F303ACC;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
}

/*team*/
.team {
    background-color: var(--team-bg-color);
    padding: 94px 0 94px;
}
.team-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
    color: var(--title-color);
}
.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.team-item {
    box-shadow:
    0px 2px 1px 0px #00000033,
    0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001F;
    background-color: var(--team-item-bg-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.team-img {
    max-width: 270px;
    max-height: 260px;
}
.team-name {
    color: var(--title-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-top: 30px;
    text-align: center;
}
.team-desc {
    color: var(--text-color);  
    font-family: var(--main-font);
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-top: 10px;
    text-align: center;
}
.team-media-list {
    margin: 16px 32px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.team-media-link {
    padding: 12px;
    border-radius: 100%;
    display: block;
}
.team-media-link:hover {
    background-color: var(--active-color);
}
.team-media-vector {
    fill: var(--media-color);
    width: 20px;
    height: 20px;
}
.team-media-link:hover .team-media-vector {
    fill: var(--media-second-color);
}

/* clients */
.clients {
    padding: 94px 0;
}
.clients-title {
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
}
.clients-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.clients-vector {
    width: 106px;
    height: 60px;
    padding: 16px 32px;
    fill: var(--clients-color);
    border: 1px solid var(--clients-color);
    border-radius: 4px;
}
.clients-vector:hover {
    fill: var(--active-color);
    border: 1px solid var(--active-color);
}

/*projekts*/
.projekts {
    padding: 94px 0;
}
.projekts-filter-list {
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.projekts-filter-item :first-child .projekts-button {
    padding: 6px 25px;
}
.projekts-button {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.48px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
}
.projekts-button:hover {
    box-shadow:
    0px 2px 2px 0px #0000001F,
    0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001A;
    background-color: var(--button-active-bg-color);
    color: var(--button-active-color);
    cursor: pointer;
}
.projekts-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.projekts-item {
    box-sizing: border-box;
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
}
.projekts-item:hover {
    box-shadow:
    1px 4px 6px 0px #00000029,
    0px 4px 4px 0px #0000000F,
    0px 1px 1px 0px #0000001F;
}
.projekts-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.projekts-overlay::before {
    content: "";
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196F3E5;
    display: block;
    position: absolute;
}
.projekts-item:hover .projekts-overlay::before, .projekts-item:hover .projekts-overlay .projekts-desc {
    opacity: 1;
}
.projekts-desc {
    font-family: var(--main-font);
    color: var(--hero-title-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.08px;
    top: 63px;
    left: 24px;
    right: 24px;
    bottom: 63px;
    opacity: 0;
    position: absolute;
}
.projekts-img {
    max-width: 100%;
    display: block;
    overflow: hidden;
}
.projekts-wrap {
    padding: 20px 24px;
}
.projekts-subtitle {
    color: var(--title-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}
.projekts-filter {
    color: var(--contact-text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
}

/*footer*/
footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer-content-logo {
    color: var(--link-active-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}
.footer-content-logo-span {
    color: var(--hero-title-color);
}
.footer-content-item {
    color: var(--hero-title-color);
}
.footer-content-street {
    color: var(--address-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 20px;
    display: inline-block;
}
.footer-content-contact {
    color: var(--contact-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 9px;
    display: inline-block;
}
.footer-content-contact:active{
    color: var(--link-active-color);
}

.footer-media-title {
    font-family: var(--main-font);
    color: var(--address-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.42px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-media-list {
    display: flex;
    gap: 10px;
}
.footer-media-link {
    padding: 12px;
    border-radius: 100%;
    display: block;
    background: #FFFFFF1A;
}
.footer-media-link:hover {
    background-color: var(--active-color);
}
.footer-media-vector {
    fill: var(--media-second-color);
    width: 20px;
    height: 20px;
}
.footer-subscribe {
    text-align: start;
}
.footer-subscribe-title {
    font-family: var(--main-font);
    color: var(--hero-title-color);
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.footer-subscribe-input {
    background-color: #2196F300;
    border-radius: 4px;
    padding: 15px 16px;
    width: 279px;
    border: 1px solid #FFFFFF4D;
    box-shadow: 0px 4px 4px 0px #00000026;
}
.footer-subscribe-button {
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    font-family: var(--main-font);
    color: var(--media-second-color);
    padding: 10px 58px 10px 28px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    position: relative;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}
.footer-subscribe-vector {
    fill: var(--header-bg-color);
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
    flex-shrink: none;
    position: absolute;
}