.address {
    color: #FFFFFF;
}
.vault_id {
    color: rgba(255, 255, 255, 0.6);
}
.head_id {
    color: #757575;
}
h2 {
    color: #212121;
}
p {
    color: rgba(117, 117, 117, 1);
}
h3 {
    color: rgba(33, 33, 33, 1);
}
.nav {
    color: #212121;
}
footer {
    background-color: rgba(47, 48, 58, 1);
}
button {
    color: #212121;
    background-color: #F5F4FA;
}