@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --footer-color: rgba(47, 48, 58, 1);
    --p-color: rgba(117, 117, 117, 1);
    --button-and-address-color: #212121;
    --button-background-color: #F5F4FA;
    --active-button-background-color: #2196F3;
    --section1-background-color: #2F303A;
    --mail-and-phone-color: #757575;
    --main-style: "Roboto", serif;
    --icon-style: "Raleway", serif;
    --section-background-color: #F5F4FA;
    --h1-color: white;
    --adress-color: white;
    --nav-color: white;
    --active-button-color: white;
}
body {
    font-family: var(--main-style);
}
footer {
    background-color: rgba(47, 48, 58, 1);
}
p {
    color: rgba(117, 117, 117, 1);
}
h1, address ul li, nav ul li a, h1 + button {
    color: #FFFFFF;
}
h2, h3, button, nav ul li a {
    color: #212121;
}
h1 + button {
    background-color: #2196F3;
}
main.main section.hat {
    background-color: var(--section1-background-color);
}
a[href="mailto:info@devstudio.com"], a[href="tel:+380961111111"] {
    color: #757575;
}
nav ul li a {
    color: #212121;
}
section:nth-child(4), button {
    background-color: #F5F4FA;
}
/*container*/
/*nav*/
div.container:nth-child(1) {
    margin-top: 0;
    margin-bottom: 200px;
}
/*Шапка*/
div.container:nth-child(2) {
    margin-top: 200px;
    margin-bottom: 294px;
}
/*Особливості*/
div.container:nth-child(3) {
    margin-top: 294px;
    margin-bottom: 94px;
}
/*Чим ми займаємося*/
div.container:nth-child(4) {
    margin-top: 94px;
    margin-bottom: 188px;
}
/*Наша команда*/
div.container:nth-child(5) {
    margin-top: 188px;
    margin-bottom: 154px;
}
/*footer*/
div.container:nth-child(6) {
    margin-top: 154px;
    margin-bottom: 0;
}
/*flex-box*/
main.main section.projekts div.container ul.filters {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
main.main section.projekts div.container ul.projekts_list {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}